<h1>All developers</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Programming Languages</th>
      <th scope="col">Languages</th>
    </tr>
  </thead>
  
</table>

<%= link_to "Search page", search_path, class: "d-grid gap-2 d-md-flex justify-content-md-end" %>